@media screen and (max-width: 480px) {
    .MuiBox-root.css-19jonn5 > img {
        margin-top: -10% !important;
    } 

}


.css-r7wxj9 {
min-height: 33px !important;
}
.MuiTooltip-popper[data-popper-placement*="right"] .css-1xa7qel {
  margin-left: 0px !important;
  padding: 0px 20px 0px 0px;
}
